:root {
  --text-light: #ffffff;
  --text-gray: #a6a6a6;
  --text-black: #232323;
  --text-dark: #6f6f6f;
  --text-gray-light: #abffce;
  --text-gray-dark: #8f8f8f;
  --attribute-yellow: #de8b0f;
  --attribute-green: #09bb53;
  --attribute-red: #ea4335;

  --green-light: #02e631;
  --green-dark: #0bf1318a;
  --bg-alpha: 255, 255, 255;
  --bg-alpha-primary: 35, 35, 35;
}
