@import 'src/shared/styles/functions';

.wrapper {
  display: flex;
  .inputWrapper {
    position: relative;
    flex: 1 1 auto;
  }

  .input {
    width: 100%;
    border-width: toRem(1) 0 toRem(1) toRem(1);
    border-style: solid;
    border-color: var(--text-light);
    border-radius: toRem(4) 0 0 toRem(4);
    padding: toRem(14.7) toRem(60) toRem(14.7) toRem(24);
    background-color: rgba(var(--bg-alpha), 0.1);
    outline: none;
    transition: all 300ms ease;
    color: var(--text-black);
    font-weight: 400;
    font-size: toRem(20);
    line-height: convertLineHeight(20, 25);

    &::placeholder {
      color: var(--text-dark);
      font-weight: 400;
      font-size: toRem(20);
      line-height: convertLineHeight(20, 25);
    }

    &:disabled {
      border: none;
      padding-top: toRem(15.5);
      padding-bottom: toRem(15.5);
    }
  }

  .inputHoverFocus {
    background-color: var(--text-light);
  }

  .inputIcon {
    cursor: pointer;
    position: absolute;
    top: toRem(18);
    right: toRem(26);
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
  }

  .inputIconActive {
    visibility: visible;
    opacity: 1;
  }

  .btn {
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: toRem(10);
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    font-size: toRem(20);
    line-height: convertLineHeight(20, 23);
    color: var(--text-gray-light);
    background-color: var(--attribute-green);
    border: 0;
    border-radius: 0 toRem(4) toRem(4) 0;
    padding: toRem(16.5) toRem(32);

    transition: all 300ms ease;

    &:hover:enabled {
      background-color: #0e9948;
    }

    &:disabled {
      color: var(--text-gray-dark);
      border: toRem(1) solid var(--text-gray-dark);
      background-color: transparent;
      padding-top: toRem(calc(16.5 - 0.915));
      padding-bottom: toRem(calc(16.5 - 0.915));
      cursor: default;
    }
  }

  .list {
    position: absolute;
    top: calc(100% + toRem(5));
    left: 0;
    font-weight: 400;
    font-size: toRem(20);
    color: var(--text-black);
    background-color: var(--text-light);
    width: 100%;
    border-radius: toRem(8);
    z-index: 100;
  }
  .listItem {
    padding: toRem(10) toRem(20);
    position: relative;
    cursor: pointer;
    transition: all ease 300ms;
    &:hover {
      background-color: rgba(var(--bg-alpha-primary), 0.1);
    }
  }
  .selected {
    background-color: rgba(var(--bg-alpha-primary), 0.1);
  }
}
