@import 'src/shared/styles/functions';

.wrapper {
  background-color: rgba(var(--bg-alpha-primary), 0.8);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .crossFade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(56);
  }

  .movieSearch {
    width: 100%;
    max-width: toRem(976);
    margin-top: toRem(120);
  }
  .title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: toRem(32);
    line-height: convertLineHeight(32, 37);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchedTitle {
    justify-content: flex-start;
    margin-bottom: toRem(16);
  }
  .movies {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: toRem(56);
  }

  .swiper {
  }
}
