@import 'src/shared/styles/functions';

.wrapper {
  max-width: toRem(368);
  min-width: toRem(200);
  display: flex;
  flex-direction: column;
  gap: toRem(16);

  .banner {
    position: relative;
    height: toRem(208);
    border-radius: toRem(4);
    padding: toRem(8);
    overflow: hidden;
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .keyframe {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 600ms;
    }

    .keyframeHover {
      opacity: 1;
    }

    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(var(--bg-alpha-primary), 0.5);
      transition: background-color ease 600ms;
    }

    .backOpacity {
      background-color: rgba(var(--bg-alpha-primary), 0.8);
    }

    .attrsContainer {
      display: flex;
      align-items: center;
      gap: toRem(16);
      position: relative;
      z-index: 2;
    }
    .attrsContainerHover {
      animation: attrsMove ease 600ms forwards;
    }

    .attrsContainerUnhover {
      animation: attrsBounce ease 600ms forwards;
    }

    .attr {
      font-weight: 400;
      font-size: toRem(16);
      line-height: convertLineHeight(16, 20);
      color: var(--text-light);
      padding: toRem(4) toRem(8);
      background-color: var(--attribute-green);
      display: flex;
      align-items: center;
      gap: toRem(10);
      border-radius: toRem(4);
    }

    .attrNew {
      background-color: var(--attribute-yellow);
    }

    .attrRate {
      font-weight: 700;
    }
    .backdropHover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .backBounce {
      animation: backdropBounce 600ms ease forwards;
    }
    .backUnhover {
      animation: backdropUnhover 600ms ease forwards;
    }
    .btn {
      outline: none;
      cursor: pointer;
      font-size: toRem(20);
      line-height: convertLineHeight(20, 25);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(10);
      color: var(--text-gray-light);
      border: toRem(1) solid var(--text-gray-light);
      border-radius: toRem(4);
      background-color: transparent;
      padding: toRem(15.5) toRem(32);
      transition: all ease 300ms;
      &:hover {
        background-color: var(--green-dark);
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
    .title {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: toRem(24);
      line-height: convertLineHeight(24, 27.5);
      color: var(--text-light);
    }

    .properties {
      display: flex;
      align-items: center;
      font-size: toRem(20);
      line-height: convertLineHeight(20, 25);
      color: var(--text-gray);
      gap: toRem(17);
    }

    .property {
      position: relative;
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 0;
        height: toRem(22);
        border: toRem(1) solid var(--text-gray);
        transform: translateY(-50%);
        top: 50%;
        right: toRem(-9);
      }
    }

    .geners {
      font-size: toRem(20);
      line-height: convertLineHeight(20, 25);
      color: var(--text-light);
    }
  }
}

@keyframes attrsMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-100% - toRem(100)));
  }
}

@keyframes attrsBounce {
  0% {
    transform: translateY(calc(-100% - toRem(100)));
  }
  40% {
    transform: translateY(toRem(6));
  }
  80% {
    transform: translateY(toRem(-2));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes backdropBounce {
  0% {
    transform: translateY(calc(100% + 100px));
  }
  40% {
    transform: translateY(toRem(-14));
  }
  80% {
    transform: translateY(toRem(2));
  }
  100% {
    transform: translateY(toRem(0));
  }
}

@keyframes backdropUnhover {
  0% {
    transform: translateY(toRem(0));
  }
  100% {
    transform: translateY(calc(100% + toRem(1400)));
  }
}
